Flask==2.3.2
gunicorn==21.2.0
tensorflow==2.13.1
tensorflow-hub==0.13.0
torch==2.0.1
transformers==4.33.2
numpy==1.24.3
easyocr==1.7.2
opencv-python-headless==4.11.0.86
matplotlib==3.7.1
Pillow==9.5.0
reportlab==3.6.12
pyspellchecker==0.7.0
werkzeug==2.3.7
